

    <div>
    <!-- <button mat-raised-button class="viewbtn-wrapper" (click)= "Ledtoggle()">view</button> -->
    </div>
  
   <div class = "box-container-wrapper">
    <div *ngFor = "let list of ledList">
    <div class="sidebarnav"*ngIf="Ledshow">
        <button class="button" mat-button><mat-icon (click) = "deleteData(list)">delete</mat-icon></button>
        <button class="button" mat-button><mat-icon (click) = "changeStatus(list)" >edit</mat-icon></button>
      <mat-grid-list  class= "container-wrapper"cols="3" rowHeight = "200px" width = "500px">
            <div class="imageBlock">
              <img  src="./assets/images/oviya.png">
            </div>
            <div class="controller-container">  
                <div class="controller-container-item">
                  <div class="controller-container-item__details">
                    <label for="">Led Name:</label>
                    <span>{{list.ledname}}</span>
                  </div>
                  <div class="controller-container-item__details">
                    <label for="">Led Color:</label>
                    <span>{{list.color}}</span>
                  </div>
                  <div class="controller-container-item__details">
                    <label for="">Floor No:</label>
                    <span>{{list.floorno}}</span>
                  </div>
                  <div class="controller-container-item__details">
                    <label for="">Building Name:</label>
                    <span>{{list.buildingname}}</span>
                  </div>
                  <div class="controller-container-item__details">
                    <label for="">Brightness:</label>
                    <span>{{list.brightness}}</span>
                  </div>
                </div>
           </div> 
      </mat-grid-list>
      <div class="editModal"*ngIf="isEdit">
        <div class="editModal-body">
          <mat-form-field>
            <input matInput placeholder="floor No*"  value={{floorno}} (input) = "floornumbervalue($event)" name="floorno">
          
          </mat-form-field>
          <mat-form-field>
            <input  matInput placeholder="Led name"   value={{ledname}} (input) = "lednamevalue($event)" name="ledname">
          
          </mat-form-field> 
          <div>
            <label>Brightness:</label>
            <input  class="input-wrapper" type="range" min ="0" max = "255" (input) = "valueChanged($event)">
            {{rangevalue}}  
        </div>
        <span>Led colour:</span>
        <select name = "ledcolor"  (change) = "ledcolorvalueChanged($event)" value={{ledcolor}}>
            <option *ngFor= "let led of leds" >{{led}}</option>
        </select>
        <mat-form-field>
          <input matInput placeholder="Buliding name"  (input) = "bulidingnamevalue($event)" name="bulidingname" value={{buildingname}} >
          <mat-error>This field is Mandatory</mat-error>
       </mat-form-field>
        <div mat-dialog-actions>
          <button mat-raised-button mat-button (click)="onCancelClick()">cancel</button>
          <button mat-raised-button mat-button (click)="onLedUpdate()" cdkFocusInitial>Update</button>
        </div>
        
        </div>
      </div>
       
    </div>
</div>
</div>
