

    <div [hidden] = "hideAdd">
    <!-- <button mat-raised-button class="viewbtn-wrapper" (click)= "Ledtoggle()">view</button> -->
    <!-- <app-led-master></app-led-master> -->
    </div>
    
        <!-- <button  (click) = "Addtoggle()"><img  src="./assets/images/addition-icon.png"></button> -->
        <div class="addcontainer">
            <mat-icon (click) = "Addtoggle()" >add_circle</mat-icon>
        </div>
        <div [hidden]="addCard" >
           <app-led-master></app-led-master>
      </div> 
    
   <div class = "box-container-wrapper">
        <div *ngFor = "let list of ledList">
           <div class="sidebarnav"*ngIf="Ledshow">
                <button class="button" mat-button><mat-icon (click) = "deleteData(list)">delete</mat-icon></button>
                <button class="button" mat-button><mat-icon (click) = "changeStatus(list)" >edit</mat-icon></button>
                <form [formGroup] = "form"> 
                  <mat-grid-list  class= "container-wrapper"cols="3" rowHeight = "200px">
                      <mat-grid-tile class= "oviya">
                          <img  src="./assets/images/oviya.png">
                      </mat-grid-tile>
                      <mat-grid-tile>  
                        <div class="controller-container">
                           <input type="hidden" formControlName = "key">   
                           <mat-form-field [formGroup]="form">
                                <input matInput [disabled]="!isEdit"  placeholder="floor No" value={{list.floorno}} (input) = "floornumbervalue($event)" name="floorno">
                           </mat-form-field>
                           <mat-form-field>
                               <input  matInput [disabled]="!isEdit" placeholder="Led name"  value={{list.ledname}} (input) = "lednamevalue($event)" name="ledname">
                           </mat-form-field> 
                           <div>
                              <label>Brightness:</label>
                              <input  class="input-wrapper" [disabled]="!isEdit" value="{{list.brightness}}" type="range" min ="0" max = "255" value = "0" (input) = "valueChanged($event)" name="Brightness" required>
                               {{list.brightness}}  
                           </div>
                        </div>
                       </mat-grid-tile> 
                       <mat-grid-tile>
                           <div class="controller-container"> 
                              <span>Led colour:</span>
                              <select name = "ledcolor" [disabled]="!isEdit" (change) = "ledcolorvalueChanged($event)" value={{list.color}}>
                                   <option *ngFor= "let led of leds" >{{led}}</option>
                              </select>
                              <mat-form-field>
                                  <input matInput [disabled]="!isEdit" placeholder="Buliding name" (input) = "bulidingnamevalue($event)" name="bulidingname" value={{list.buildingname}} >
                              </mat-form-field>
                              <div mat-dialog-actions *ngIf="isEdit">
                                    <button mat-raised-button mat-button (click)="onCancelClick()">cancel</button>
                                    <button mat-raised-button mat-button (click)="onLedUpdate()" cdkFocusInitial>Update</button>
                             </div>
                           </div> 
                        </mat-grid-tile>
                   </mat-grid-list>
                 </form>

             </div>
         </div>
     </div>
     