<header class="headerdiv">
    Oviya
</header>   
<!-- <mat-sidenav-container>
           <mat-sidenav opened>LED</mat-sidenav>
           <mat-sidenav-content>main content</mat-sidenav-content>
</mat-sidenav-container>            -->
              <form [formGroup] = "form">   
                  <div class="addcontainer">
                   <button  (click) = "Addtoggle()"><img  src="./assets/images/addition-icon.png"></button>
                  </div> 
                       <div class="addcontainer-wrapper">
                       <div class="controller-container-wrapper" *ngIf = "Addshow">
                             <mat-grid-list cols="3" rowHeight = "2:1" > 
                                 <mat-grid-tile class= "oviya">
                                     <img  src="./assets/images/oviya.png">
                                 </mat-grid-tile>
                                  <mat-grid-tile>  
                                    <div class="controller-container">
                                        <input type="hidden" formControlName = "key">  
                                        <mat-form-field>
                                           <input matInput placeholder="floor No*" formControlName = "floorNo" value={{floorno}} (input) = "floornumbervalue($event)" name="floorno">
                                           <mat-error>This field is Mandatory</mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input  matInput placeholder="Led name*" formControlName = "ledName"  value={{ledname}} (input) = "lednamevalue($event)" name="ledname">
                                           <!-- <mat-error *ngFor="let validation of formValidationMessage.ledName"></mat-error>

                                            <mat-error  *ngIf="form.get('ledName').hasError(validation.type) && (form.get('ledName').dirty || form.get('ledName').touched)">{{validation.message}}</mat-error>-->
                                        </mat-form-field> 
                                        <div>
                                           <label>Brightness:</label>
                                           <input  class="input-wrapper" type="range" min ="0" max = "255" value = "0" (input) = "valueChanged($event)" FormControlName = "Brightness" name="Brightness" required>
                                           {{rangevalue}}  
                                        </div>
                                    </div>
                                  </mat-grid-tile> 
                                  <mat-grid-tile>
                                       <div class="controller-container"> 
                                           <span>Led colour:</span>
                                           <select name = "ledcolor" formControlName = "ledcolor" (change) = "ledcolorvalueChanged($event)" value={{ledcolor}}>
                                                <option *ngFor= "let led of leds" >{{led}}</option>
                                           </select>
                                           <mat-form-field>
                                               <input matInput placeholder="Buliding name*" formControlName = "BulidingName" (input) = "bulidingnamevalue($event)" name="bulidingname" value={{bulidingname}} >
                                               <mat-error>This field is Mandatory</mat-error>
                                           </mat-form-field>
                                           <div class="button">
                                                 <button mat-raised-button color="primary" type = "submit" (click)="save()" [disabled]="form.invalid">submit</button>
                                                 <button mat-raised-button color="warn" (click)="clearall()">Clear</button>
                                                 <button mat-raised-button color="warn">Cancel</button>
                                           </div>
                                      </div> 
                                  </mat-grid-tile> 
                              </mat-grid-list>
                           </div>
                        </div>
                    
                 </form>
             
     